* {
  box-sizing: border-box;
}

.section {
  padding: 0px 50px;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 20px;
}

.card {
  border: 1px solid #ff9f29;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  height: 280px;
  border-radius: 8px;
}

.img-anime {
  margin: auto;
  max-width: 90%;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.judul-anime,
.realease,
.epesode {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.realease span {
  color: orange;
}
