.pencarian {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  height: 50px;
}

.input {
  width: 80%;
  border: none;
  border-radius: 8px 0px 0px 8px;
  outline: none;
  padding: 20px;
}

.button {
  padding: 10px 30px;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background-color: #1a4d2e;
  color: white;
  font-weight: bold;
  transition: ease-in-out 50ms;
}

.button:active {
  background-color: orange;
  color: white;
}

.section {
  padding: 0px 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 20px;
}

.card {
  border: 1px solid #ff9f29;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  height: 280px;
  border-radius: 8px;
}

.img-anime {
  margin: auto;
  max-width: 90%;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.judul-anime,
.realease,
.genre {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.realease span,
.genre span {
  color: orange;
}

.bottom {
  display: flex;
}

.bottom > h5 {
  margin-right: 20px;
}
